 <section id="passengers">
      <div id="loader" class="loader"></div>
      <div id="ps_container" class="ps_container"> <span class="ribbon"></span>
      </div>
      <!--end ps_container-->
      <header class="divider intro-text">
        <h2>Where would you travel today?</h2>
       <!-- <div class="contact-me"><a class="contact button" href="#contact">Contact Me</a></div>-->
      </header>
      <div class="recent-work columns">
        <h3>My Recent Work</h3>
        <div class="two-column">
          <figure><a href="images/pricing_table_3.jpg"  class="zoom"><img src="images/work_1.jpg" alt="Image"></a></figure>
        </div>
        <div class="two-column last">
          <figure><a href="images/pricing_table_3.jpg"  class="zoom"><img src="images/work_2.jpg" alt="Image"></a></figure>
        </div>
      </div>
      <div class="my-services columns">
        <h3>My Services</h3>
        <div class="three-column">
          <h4>Web Design</h4>
          <p>This is just a place holder for people who need type to visualize what the actual copy might look like if it were real content.</p>
        </div>
        <div class="three-column">
          <h4>Graphic Design</h4>
          <p>This is just a place holder for people who need type to visualize what the actual copy might look like if it were real content.</p>
        </div>
        <div class="three-column last">
          <h4>Identity / Branding</h4>
          <p>This is just a place holder for people who need type to visualize what the actual copy might look like if it were real content.</p>
        </div>
      </div>
      
      <div class="one-column columns testimony">
      	<div class="clearfix says">
        <figure class="marginRight"><img src="images/client_image_1.jpg" alt="Image" /></figure>
        <blockquote>
          <p>This is just a place holder for people who need type to visualize what the actual copy might look like if it were real content.This is just a place holder for people who need type to visualize what the actual copy might look like if it were real content.</p>
          <cite>&mdash; <a href="#">Joefrey Mahusay</a></cite> </blockquote>
        </div>
        <div class="clearfix says">
        <figure class="marginRight"><img src="images/client_image_1.jpg" alt="Image" /></figure>
        <blockquote>
          <p>This is just a place holder for people who need type to visualize what the actual copy might look like if it were real content.This is just a place holder for people who need type to visualize what the actual copy might look like if it were real content.</p>
          <cite>&mdash; <a href="#">Joefrey Mahusay</a></cite> </blockquote>
        </div>
          
      </div>
    </section> <!--end section-->
