<section id="signup" class="clearfix">
  <header>
    <h2>Who is this Guy?</h2>
  </header>
  
  
  <figure class="marginRight"><img src="images/me.gif" alt="Image" /></figure>
    <p>This is just a place holder for people who need type to visualize what the actual copy might look like if it were real content. This is just a place holder for people who need type to visualize what wthe actual copy might look like if it were real content. This is just a place holder for people who need type to visualize what the actual copy might look like if it were real content. </p><p>This is just a place holder for people who need type to visualize what the actual copy might look like if it were real content. This is just a place holder for people who need type to visualize what the actual copy might look like if it were real content. This is just a place holder for people who need type to visualize what the actual copy might look like if it were real content. This is just a place holder for people who need type to visualize what the actual.</p>
    
   	<div class="clearfix"></div>
    <h3>Nerdy Skills</h3>
    <ul class="skills">
    	<li>Design <span class="bar_100"><span class="percent">100%</span></span></li>
    	<li>HTML5 / CSS3 <span class="bar_90"><span class="percent">90%</span></span></li>
        <li>Wordpress / CMS<span class="bar_50"><span class="percent">50%</span></span></li>
        <li>jQuery<span class="bar_70"><span class="percent">70%</span></span></li>
        <li>Search Engine Optimzation<span class="bar_60"><span class="percent">60%</span></span></li>
    </ul>
    
</section> <!--end section-->


