<div class="social_wrapper">
	<h3>Where to find me?</h3>
    <ul class="social">
    	<li class="dribble"><a href="#">Dribble</a></li>
        <li class="twitter"><a href="#">Twitter</a></li>
        <li class="lastfm"><a href="#">Last FM</a></li>
        <li class="facebook"><a href="#">Facebook</a></li>
        <li class="location"><a href="#">Location</a></li>
        <li class="forrst"><a href="#">Forrst</a></li>
    </ul>
</div>
