  <aside id="sidebar">
    <nav>
      <a class="logo" href="#top" id="nav-logo">
        <span>Stopponline</span>
        Takin yo&apos; ass wherever you wanna go
      </a>
      <ul>
       	<li class="active" id="nav-1"><a href="#passengers">Passengers</a></li>
        <li id="nav-2"><a href="#drivers">Drivers</a></li>
        <li id="nav-3">
          <!-- <a href="#signup">Sign up</a> -->
          <%= link_to 'Sign up', new_user_registration_path %>
        </li>
        <li id="nav-4"><a href="#contact">Contact</a></li>
      </ul>
      <div class="bg_bottom"></div>
    </nav>
  </aside>

